@model AnnounceIndex
@{
    ViewBag.Title = "Duyurular";
}

<div class="card-title text-center">
    <h3><strong>Duyurular</strong></h3>
</div>
<form method="post">
    <div class="row">

        <div class="col-12">
            <div class="float-right">
                <a asp-area="admin" asp-controller="Announcement" asp-action="Create">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs-down">Yeni Duyuru</span>
                </a>
            </div>
        </div>

    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Duyurular</li>
        </ol>
    </nav>


        <div class="tab-pane fade show active" id="nav-tr" role="tabpanel" aria-labelledby="nav-tr-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Başlık</th>
                        <th scope="col">Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Announcements.OrderByDescending(x => x.Date))
                    {
                        <tr>
                            <th>
                                <a asp-area="admin" asp-controller="Announcement" asp-action="Edit" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            </th>
                            <td>@item.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 

    



</form>
