@model FBE.ViewModels.ChangePasswordView

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Şifre Değiştirme</h2>
<hr />
@if (ViewBag.success == "true")
{
    <div class="alert alert-info">
        Şifreniz güncellenmiştir!
    </div>
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>


                <div class="float-left">
                    <a href="@Url.Action("Index")" class="btn btn-warning" style="width:140px;">
                        <i class="fa fa-arrow-left"></i>
                        İptal
                    </a>
                </div>
                <div class="float-right">
                    <!--EKLE-->
                    <button type="submit" class="btn btn-primary ml-4" style="width:140px;">

                        Şifre Değiştir
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <a class="btn btn-info ml-4" style="width:230px; margin-bottom:10px" asp-controller="Profile" asp-action="ChangePassword">Şifre Değiştirme</a>

        <a class="btn btn-info ml-4" style="width:230px;" asp-controller="Profile" asp-action="UserEdit">Bilgi Güncelleme</a>
    </div>
</div>

